@* @page "/RenderInfoDemo" *@
@rendermode InteractiveServer

<h3>Render Info</h3>

<ul>
    <li>Name: @RendererInfo.Name</li>
    <li>Is Interactive: @RendererInfo.IsInteractive</li>
    <li>Assigned: @AssignedRenderMode</li>
</ul>